<ion-tabs>
  <div class="tab-bar">
    <div class="tabs-menu">
      <div class="tab-button-1">
        <div class="tab-content" routerlink="tabs/tab1">
          hola
        </div>
      </div>
      <div class="tab-button-2" >
        <div class="tab-content-button" routerlink="tabs/tab2">
          hola
        </div>
      </div>
      <div class="tab-button-3">
        <div class="tab-content" routerlink="tabs/tab3">
          hola
        </div>
      </div>
    </div>
  </div>
</ion-tabs>
