<ion-content>
  <div class="container" *ngIf="!onSubmitForm">
    <div class="start">
      <div class="location">
        <h2>Tu ubicación actual</h2>
      </div>
      <div class="location-info">
        Cancun - QROO
      </div>
    </div>
    <div class="button">
      <div class="title">
        <h1>¿Te encuentras en una emergencia?</h1>
        <p>Presiona el boton y la ayuda aparecerá</p>
      </div>
      <button class="alarm-btn" (click)="setOpen(true)">
        <img src="../../assets/icon/alarm.png" alt="Alarm">
        <p>SOS</p>
      </button>
    </div>
    <div class="end">
      <div class="card">
        <div class="card-title">
          Tu dirección:
        </div>
        <div class="card-info">
          Ut Cancun, Calle 89
        </div>
      </div>
    </div>
  </div>
  <tab2-alarm-active *ngIf="onSubmitForm"></tab2-alarm-active>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Formulario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" >Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-content>
          <div class="container">
            <div class="top">
            </div>
            <div class="header">
              <h1>Registra tu emergencia</h1>
            </div>
            <form action="" [formGroup]="emergencyForm">
              <ion-select formControlName="priority" label="Prioridad" label-placement="fixed" placeholder="Prioridad">
                <ion-select-option value="alto">Urgente</ion-select-option>
                <ion-select-option value="medio">Medio</ion-select-option>
                <ion-select-option value="bajo">Bajo</ion-select-option>
              </ion-select>
              <ion-select formControlName="emergency" label="Tipo de emergencia" label-placement="fixed" placeholder="Tipo de emergencia">
                <ion-select-option value="acoso">Acoso</ion-select-option>
                <ion-select-option value="robo">Robo</ion-select-option>
                <ion-select-option value="emergencia">Emergencia</ion-select-option>
              </ion-select>
              <ion-textarea
                formControlName="description"
                label="Describe tu emergencia"
                labelPlacement="floating"
                [counter]="true"
                maxlength="150"
              ></ion-textarea>
              <!-- <ion-list>
                <ion-item>
                </ion-item>
                <ion-item>
                </ion-item>
                <ion-item>
                </ion-item>
              </ion-list> -->
              <button (click)="onSubmit()">
                Enviar
              </button>
            </form>
          </div>
        </ion-content>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>