<ion-content>
  <div class="container">
    <div class="top">
      <button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="header">
      <h1>Registrar contacto seguro</h1>
    </div>
    <form action="" [formGroup]="contactsForm">
      <ion-list>
        <ion-item>
          <ion-input labelPlacement="floating" value="hi@ionic.io" formControlName="name">
            <div slot="label">Nombre <ion-text color="danger">(Required)</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" value="hi@ionic.io" formControlName="tag">
            <div slot="label">Tag <ion-text color="danger">(Required)</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" value="" formControlName="phone">
            <div slot="label">Celular <ion-text color="danger">(Required)</ion-text></div>
          </ion-input>
        </ion-item>
      </ion-list>
      <button (click)="onSubmit()">
        Enviar
      </button>
    </form>
  </div>
</ion-content>